<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../admin-partials/header.ejs') %>
        <link rel="stylesheet"
            type="text/css"
            href="/static/ckeditor/style.css">
        <link rel="stylesheet"
            href="https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.css">

    </head>
    <body>
        <div class="container-xxl position-relative  d-flex p-0">
            <%- include('../admin-partials/sidebar.ejs',, {user: data.user})
            %>
            <div class="content bg-dark">
                <%- include('../admin-partials/navbar.ejs', {user: data.user})
                %>
                <div class="container-fluid pt-4 px-4">
                    <form class="row g-0" method="post" id="newProjectForm"
                        action="/admin-panel/edit-project/<%= project._id %>">
                        <div class="col-md-12  ">
                            <div
                                class="container p-4  border border-bottom-0 border-2  border-primary ">
                                <h6 class="mb-4 text-light">Edit Project
                                </h6>
                                <div class="form-floating mb-3">
                                    <input type="text"
                                        required
                                        id="title"
                                        value="<%= project.title %>"
                                        name="title"
                                        class="form-control border border-2  border-primary bg-gray text-light"
                                        placeholder>
                                    <label
                                        class="text-light"
                                        for="floatingInput">Project
                                        Title</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text"
                                        required
                                        id="desc"
                                        value="<%= project.desc %>"
                                        name="desc"
                                        class="form-control border border-2  border-primary bg-gray text-light"
                                        placeholder>
                                    <label
                                        class="text-light"
                                        for="floatingInput">Project
                                        Description</label>
                                </div>
                                <div class="form-floating mb-3 ">
                                    <input type="text"
                                        required
                                        id="keywords"
                                        value="<%= project.keywords %>"
                                        name="keywords"
                                        class="form-control border border-2  border-primary bg-gray text-light"
                                        placeholder>
                                    <label
                                        class="text-light"
                                        for="floatingInput ">Keywords</label>
                                </div>
                                <div class="form-floating  mb-3">
                                    <select
                                        required
                                        name="category"
                                        id="category"
                                        class="form-select border border-2  border-primary bg-gray text-light">
                                        <% categories.forEach(category => { %>
                                        <option
                                            value="<%= category._id %>"
                                            <%=(category._id.toString() ===
                                            project.category.toString()) ?
                                            'selected' : '' %>>
                                            <%= category.name %>
                                        </option>
                                        <% }) %>

                                    </select>
                                    <label
                                        class="text-light"
                                        for="floatingSelect">Category</label>
                                </div>
                                <div class="form-floating mb-3 ">
                                    <input type="date" id="date" required
                                        name="date"
                                        value="<%= project.releaseDate %>"
                                        class="form-control border border-2  border-primary bg-gray text-light"
                                        placeholder="Select a date">
                                    <label
                                        class="text-light"
                                        for="floatingInput ">Release Date
                                    </label>
                                </div>

                                <div class="form-floating mb-3 ">
                                    <div class="form-check form-switch">
                                        <label
                                            class="form-check-label text-light"
                                            for="activeOrInactive">
                                            <%= (project.isActive) ? 'Active' :
                                            'Inactive' %>
                                        </label>
                                        <input class="form-check-input"
                                            type="checkbox" role="switch"
                                            id="isActive" name="isActive"
                                            <%=(project.isActive) ? 'checked' :
                                            '' %>>

                                    </div>
                                </div>
                            </div>
                            <div
                                class="container p-4   border border-2  border-top-0  border-primary ">
                                <div class="form-floating mb-3">
                                    <div class="main-container col-md-12">
                                        <div
                                            class="editor-container editor-container_classic-editor"
                                            id="editor-container">
                                            <div
                                                class="editor-container__editor">
                                                <textarea name="content"
                                                    id="editor">
                                                    <%- project.content %>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="form-floating mb-3 text-center">
                                    <button type="submit"
                                        id="submit"
                                        class="btn btn-primary  w-75">Save the
                                        Project</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <%- include('../admin-partials/footer.ejs') %>
            </div>
            <a href="#"
                class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
                    class="bi bi-arrow-up"></i></a>
        </div>

        <script type="importmap">
            {
                "imports": {
                    "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.js",
                    "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.0.0/"
                }
            }
            </script>
        <script type="module" src="/static/ckeditor/main.js"> 
        </script>

        <script type="text/javascript">
            document.querySelector('#submit').addEventListener('click', () => {
                if (window.editor) {
                    const editorData = window.editor.getData();
                } else {
                    console.error('Editor not initialized yet.');
                }
            });
        </script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/chart/chart.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/easing/easing.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/waypoints/waypoints.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/owlcarousel/owl.carousel.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/tempusdominus/js/moment.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <script src="/static/admin-panel-assets/js/main.js"></script>

        <script>

            document.addEventListener('DOMContentLoaded', () => {
                const dateInput = document.getElementById('date'); 
                const today = new Date();
                const yyyy = today.getFullYear();
                const mm = String(today.getMonth() + 1).padStart(2, '0'); 
                const dd = String(today.getDate()).padStart(2, '0');
                const minDate = `${yyyy}-${mm}-${dd}`;
                dateInput.min = minDate;
                dateInput.value=minDate;

            });

        </script>

        <script type="text/javascript">

            document.getElementById('isActive').addEventListener('change', () => {
                const label = document.getElementsByClassName('form-check-label')[0];
                const checkbox = document.getElementById('isActive');
                
                if (checkbox.checked) {
                    label.textContent = 'Active';
                } else {
                    label.textContent = 'Inactive';
                }
            });
            

        </script>

    </body>

</html>