<div class="col-md-3 my-2 ">
    <div class="category-card">
        <div class="content">
            <div class="back">
                <div class="back-content">
                    <img src="/static/img/<%= category.img %>"
                        width="150px"
                        height="150px"
                        alt srcset>
                    <strong class="fs-4">
                        <%= category.name %>
                    </strong>
                </div>
            </div>
            <div class="front">
                <div class="img">
                    <div class="circle ">
                    </div>
                    <div class="circle "
                        id="<%= category.id1 %>">
                    </div>
                    <div class="circle "
                        id="<%= category.id2 %>">
                    </div>
                </div>

                <div class="front-content">
                    <small
                        class="badge fs-5">
                        <%=
                        category.numberOfProjects
                        %>+</small>
                    <div class="description">
                        <div class="title">
                            <a
                                href="/code-list/<%= category.url %>"
                                class="btn show-btn btn-lg">Show
                                Codes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>