<div class="col-md-6 my-2">
    <div
        class="card code-card">
        <div
            class="card-header d-flex justify-content-between align-items-center text-light">
            <label class="fs-6 fw-bold">
                <%= project.title %>
            </label>
            <label
                class="fs-6 fw-bold">
                <%= project.releaseDate %>
            </label>
        </div>
        <div class="card-body">
            <p> <%= project.desc %>
            </p>
            <div class>
                <% project.keywords.forEach(keyword => { %>
                <span
                    class="badge rounded-pill text-bg-light">
                    <%= keyword %>
                </span>
                <% }) %>

            </div>
        </div>
        <div
            class="card-footer d-flex align-items-center justify-content-between">
            <label for class="fs-6 text-light fw-bold"><%= project.author.name
                %></label>
            <a href="/code-details/<%= project.id %>"
                class="btn read-btn  mx-2">Read
                the Code</a>
        </div>
    </div>
</div>