<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header.ejs') %>
        <link rel="stylesheet" href="/static/css/code-details.css">
        <link rel="stylesheet" href="/static/prism/prism.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <div class="container-fluid text-light">
            <% if (messages.error) { %>
            <script>
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            background: '#00171F',
                            color: 'white',
                            confirmButtonColor: '#36AAA6',
                            text: '<%= messages.error %>'
                        });

                    </script>
            <% } %>

            <% if (messages.success) { %>
            <script>
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            background: '#00171F',
                            color: 'white',
                            confirmButtonColor: '#36AAA6',
                            text: '<%= messages.success %>'
                        });
                    </script>
            <% } %>
            <div class="row justify-content-center p-3 align-items-center">
                <div class="col-md-12">
                    <div class="card text-center custom-header-card">
                        <div class="card-header">
                            <h2> <%= project.title %> </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="row px-5 py-2 justify-content-center align-items-center">
                <div class="col-md-9 mb-3">
                    <div class="container ">
                        <div class="card code-details-card ">
                            <div
                                class="card-header d-flex justify-content-between">
                                <div
                                    class="d-flex justify-content-center align-items-center">
                                    <img
                                        src="/static/img/<%= project.author.img %>"
                                        width="50px"
                                        height="50px"
                                        class="rounded-circle" alt>
                                    <a
                                        href="/profile/<%= project.author.id %>"
                                        class="nav-link fs-6 ms-3 fw-bold">
                                        <%= project.author.name %>
                                    </a>

                                </div>
                                <div
                                    class="d-flex justify-content-center align-items-center">
                                    <label class="fs-6 fw-bold" for>
                                        <%= project.releaseDate %>
                                    </label>
                                </div>

                            </div>
                            <div class="card-body">
                                <%- project.content %>
                            </div>
                            <div class="card-footer d-flex">
                                <div class=" my-auto me-auto ">

                                    <% project.keywords.forEach(keyword => { %>
                                    <span
                                        class="badge rounded-pill text-bg-light"><%=
                                        keyword %></span>

                                    <% }) %>

                                </div>
                                <form class="d-flex ms-auto"
                                    action="/postLikeProject/<%= project.id %>"
                                    method="post">
                                    <button type="submit"
                                        class="btn card-footer-btn ms-auto">
                                        <% if (user) { %>
                                        <img src="/static/img/like.svg"
                                            width="20px">
                                        <% } else{ %>
                                        <span class="text-light">Login To
                                            Like</span>
                                        <% } %>
                                    </button>
                                    <button type="button"
                                        class="btn card-footer-btn ms-3">
                                        <img src="/static/img/save.svg"
                                            width="20px"
                                            srcset>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  mb-3">
                    <div class="container">
                        <div class="card right-content-card">
                            <div class="card-header text-center ">
                                <label for class="fs-5">
                                    More Codes
                                </label>
                            </div>
                            <ul class="list-group  list-group-flush">

                                <% moreProjects.forEach(project => { %>
                                <li
                                    class="list-group-item">
                                    <a class="nav-link custom-link"
                                        href="/code-details/<%= project.id %>">
                                        <%= project.title %>
                                    </a>
                                </li>
                                <% }) %>

                            </ul>
                            <div class="card-header text-center ">
                                <label for class="fs-5">
                                    Follow Me
                                </label>
                            </div>
                            <div
                                class="card-body rounded-bottom-3  d-flex justify-content-center">
                                <a
                                 href="<%= project.author.socialLinks.instagram %>"

                                    class="mx-2 ">
                                    <img width="48px"
                                        class="social-link"
                                        src="/static/img/instagram.svg" alt>
                                </a>
                                <a
                                href="<%= project.author.socialLinks.github %>"
                                class="mx-2 ">
                                    <img width="48px"
                                        class="social-link"
                                        src="/static/img/github.svg" alt>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-5 py-2">
                <div class="col-md-12">
                    <div class="card comments-card ">
                        <div class="card-header text-center">
                            <h2> Comments</h2>
                        </div>
                        <div
                            class="card-body  d-flex align-items-center">
                            <div
                                class="container-fluid p-0 justify-content-between">
                                <div
                                    class="row justify-content-center align-items-center">
                                    <div class="col-md-4 text-center mb-3">
                                        <form
                                            action="/postComment/<%= project.id %>"
                                            method="post">
                                            <div class="input-group mb-3">
                                                <span
                                                    class="input-group-text"></span>
                                                <input type="text"
                                                    id="name"
                                                    name="name"
                                                    readonly
                                                    disabled
                                                    value="<%= (user) ? user.name : null %>"
                                                    placeholder="Name"
                                                    class="form-control">
                                                <span
                                                    class="input-group-text"></span>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text"
                                                    id="basic-addon1"></span>
                                                <input type="text"
                                                    class="form-control"
                                                    readonly
                                                    value="<%= (user) ? user.email : null %>"
                                                    disabled
                                                    placeholder="Email">
                                                <span
                                                    class="input-group-text"></span>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span
                                                    class="input-group-text"></span>
                                                <textarea class="form-control"
                                                    placeholder="Comment"
                                                    id="content" name="content"
                                                    <%=(user) ? '' : 'disabled'
                                                    %>
                                                    maxlength="300"
                                                    rows="3"></textarea>
                                                <span
                                                    class="input-group-text"></span>
                                            </div>

                                            <% if (!user) { %>
                                            <button class="btn btn-lg send-btn"
                                                type="submit">
                                                Login To Send Comment
                                            </button>
                                            <% } else if (user._id.toString()
                                            === project.author._id.toString()) {
                                            %>
                                            <p class="btn btn-lg send-btn">
                                                You can't send comment yourself.
                                            </p>
                                            <% } else { %>
                                            <button class="btn btn-lg send-btn"
                                                type="submit">
                                                Send
                                            </button>
                                            <% } %>

                                        </form>
                                    </div>
                                    <div class="col-md-8">
                                        <div
                                            class="row comments-row align-items-center">
                                            <%
                                            project.comments.forEach(comment =>
                                            { %>
                                            <div
                                                class="col-md-6 mb-3">
                                                <div class="card comment-card">
                                                    <div
                                                        class="card-header   d-flex">
                                                        <label
                                                            class="card-title text-center fs-5 me-auto">
                                                            <%=
                                                            comment.whoSend.name
                                                            %>
                                                        </label>
                                                        <label
                                                            class="fs-6">
                                                            <%= comment.date %>
                                                        </label>
                                                    </div>
                                                    <div
                                                        class="card-body ">
                                                        <p
                                                            class="card-text">
                                                            <%=
                                                            comment.content
                                                            %>
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="card-footer justify-content-between align-items-center d-flex">
                                                        <div
                                                            class="card-footer justify-content-between align-items-center d-flex">
                                                            <div
                                                                class="like-container">
                                                                <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    id="Layer_1"
                                                                    data-name="Layer 1"
                                                                    viewBox="0 0 24 24"
                                                                    width="20"
                                                                    fill="white"
                                                                    height="20">
                                                                    <path
                                                                        d="M6,8H3a3,3,0,0,0-3,3v8a3,3,0,0,0,3,3H6Z" />
                                                                    <path
                                                                        d="M14,8l.555-3.328a2.269,2.269,0,0,0-1.264-2.486,2.247,2.247,0,0,0-2.9,1.037L8,8V22H22l2-11V8Z" />
                                                                </svg>
                                                                <label
                                                                    class="fs-6 text-light like-count ">
                                                                    <%=
                                                                    comment.whoLikes.length
                                                                    %>

                                                                </label>
                                                            </div>

                                                        </div>
                                                        <form
                                                            action="/postLikeComment/<%= comment.id %>/<%= project.id %>"
                                                            method="post">
                                                            <button
                                                                type="submit"
                                                                class="btn card-footer-btn ms-auto">
                                                                <% if (user) {
                                                                %>
                                                                <img
                                                                    src="/static/img/like.svg"
                                                                    width="20px">
                                                                <% } else{ %>
                                                                <span
                                                                    class="text-light">Login
                                                                    To
                                                                    Like</span>
                                                                <% } %>
                                                            </button>
                                                        </form>

                                                    </div>

                                                </div>
                                            </div>
                                            <% }) %>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
      
        <script src="/static/prism/prism.js"></script>

        <%- include('../partials/footer.ejs') %>

    </body>
</html>
